<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <a href="http://connection.mit.edu/">
                    <img src="assets/cslogo.png" id="cslogo" class="img-responsive center-block" alt="MIT Connection Science Logo">
                </a>
            </div>
        </div>
        <div class="row"
            <div class="col-xs-8 col-xs-offset-2">
                <p class="text-center">
                    <a class="contact-link text-center" href="http://www.github.com/humandynamics/rhythm-server">Find us on github</a>
                </p>
                <p class="text-center">
                    Made with &#9829 by <a class="contact-link" href="http://dcalacci.net">Dan Calacci</a> and <a class="contact-link" href="mailto:orenled@mit.edu">Oren Lederman</a>.
                </p>
            </div>
        </div>
    </div>
</div>
