<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Rhythm - MIT</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/style.css" rel="stylesheet">

        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <!-- Custom CSS -->
        <style>
         body {
             padding-top: 70px;
             /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
         }
        </style>

    </head>
