@@include('./src/templates/_head.html')
@@include('./src/templates/_nav.html')
<div class="container-fluid hero-container">
    <div class="row">
        <div class="hero-copy-container text-center col-md-10 col-md-offset-1">
            <h1>
                An open measurement and feedback tool for online
                conversations
            </h1>
            <p class="lead">
                Breakout measures your conversation dynamics and helps
                you have more engaging team meetings.
            </p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <h2 class="text-center col-md-10 col-md-offset-1">Start a hangout now.
            <div class="hangout-button">
                <div class="g-hangout" data-render="createhangout" data-initial_apps="[{ app_id : '381239548613', 'app_type' : 'ROOM_APP' }]">
                </div>
            </div>
        </h2>
    </div>
</div>
<hr>

<div class="container feature-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="scientist-icon center-block"></div>
            <h3 class="text-center">
                Research Informed
            </h3>
            <p class="text-center">
                Breakout is informed by leading group
                interaction research.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="people-icon center-block"></div>
            <h3 class="text-center">
                Improve Your Team
            </h3>
            <p class="text-center">
                Increase team trust, engagement, and performance.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="chat-icon center-block"></div>
            <h3 class="text-center">
                Up Your Social IQ
            </h3>
            <p class="text-center">
                Quantify your communication and understand how
                your team interacts.
            </p>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid clear-sides">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 padding-left">
            <h2>Breakout provides an ambient display that helps you
                and your team become more aware of your communication
                patterns.
            </h2>
            <p class="lead">
                Our research shows that simply taking taking a more
                equal number of turns in conversation is associated
                with higher collective intelligence in groups, more
                trust & engagement between team members, and generally
                increased performance.
            </p>
        </div>
        <div class="col-sm-6 hidden-xs clear-right">
            <div class="pull-right">
                <img class="img-responsive" src="assets/good-screenshot1.png"></img>
            </div>
        </div>
    </div>
    <div class="row hidden-sm hidden-md hidden-lg center-block">
        <div class="col-xs-12 col-xs-offset-0 clear-sides">
            <div class="center-block">
                <img class="img-responsive" src="assets/good-screenshot1.png"></img>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-6 hidden-xs">
                <img class="img-responsive center-block" src="assets/viz.gif"></img>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
            <h1>Stay on the ball
            </h1>
            <p>You're always the solid blue dot at the top of
                the visualization. Everyone else is
                represented by a light blue outline.
            </p>
            <p class="lead">
                If your team is talking equally and people are
                taking quick turns (how it should be), the
                ball will be green and in the center. The
                lower energy your team gets, the more pale the
                ball is. The more someone dominates the
                conversation, the more the ball will move
                towards them.
            </p>
        </div>

    </div>
    <div class="row hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 col-xs-offset-0">
                <img class="img-responsive center-block" src="assets/viz.gif"></img>
        </div>
    </div>
</div>


@@include('./src/templates/_footer.html')
