@@include('./src/templates/_head.html')
@@include('./src/templates/_nav.html')
<div class="container-fluid hero-container">
    <div class="row">
        <div class="hero-copy-container text-center col-md-10 col-md-offset-1">
            <h1>
                An open measurement and feedback tool for online
                conversations
            </h1>
            <p class="lead">
                Breakout measures your conversation dynamics and helps
                you have more engaging team meetings.
            </p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <h2 class="text-center col-md-10 col-md-offset-1">Start a hangout now.
            <div class="hangout-button">
                <div class="g-hangout" data-render="createhangout" data-initial_apps="[{ app_id : '381239548613', 'app_type' : 'ROOM_APP' }]">
                </div>
            </div>
        </h2>
    </div>
</div>
<hr>

<div class="container feature-container">
    <div class="row">
        <div class="col-md-4">
            <div class="scientist-icon center-block"></div>
            <h3 class="text-center">
                Research Informed
            </h3>
            <p class="text-center">
                Breakout is informed by leading group
                interaction research.
            </p>
        </div>
        <div class="col-md-4">
            <div class="people-icon center-block"></div>
            <h3 class="text-center">
                Improve Your Team
            </h3>
            <p class="text-center">
                Increase team trust, engagement, and performance.
            </p>
        </div>
        <div class="col-md-4">
            <div class="chat-icon center-block"></div>
            <h3 class="text-center">
                Up Your Social IQ
            </h3>
            <p class="text-center">
                Quantify your communication and understand how
                your team interacts.
            </p>
        </div>


    </div>
</div>


@@include('./src/templates/_footer.html')
